body{
    color:white;
    font-family: 'MedievalSharp', cursive;
}

#pageContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.actionContainer {

    width: 100%;
    height: 70%;
    background-size: contain;


}
.backgroundImg {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.enemyContainer {
    z-index: 2;
    left: 50%;
    bottom: 32%;
    position: absolute;
    width: 10%;
    height: 30%;
    background-size: contain;
}
.enemyImg{
    width: 100%;
    height: 100%;
    z-index: 3;
}
.characterContainer {
    z-index: 2;
    left: 20%;
    bottom: 30%;
    position: absolute;
    width: 10%;
    height: 30%;
    background-size: contain;
}
.characterImg{
    width: 100%;
    height: 100%;
    z-index: 3;
}



.radioContainer {
    height: 30%;
    width: 100%;
    background-color: black;
    position: absolute;

}
.selectField{
    background-color: black;
    width: 33.3333%;
    height: 100%;
    position: absolute;
    overflow: auto;
    display: inline-block;

}
.attackField{
    width:100%;
    height: 85%;
    background-color: black;
    position: absolute;
    bottom:0;
}
.defenseField{
    width:100%;
    height: 85%;
    background-color: black;
    position: absolute;
    bottom:0;
    overflow: hidden;
}
.group1{
    background-color: black;
    width: 50%;
    height: 100%;
    position: absolute;

}
.group2{
    background-color: chartreuse;
    width: 50%;
    height: 100%;
    position: absolute;
    margin-left: 50%;
}
.topBanner{
    height: 15%;
    background-image: url(../images/Parchment.jpg);
    position: absolute;
    width: 100%;
    
    
}
.down{
    margin-top: 5px;
    font-size: 150%;
}
.topBanner2{
    height: 30%;
    position: absolute;
    width: 100%;
    background-image: url(../images/Parchment.jpg);
    text-align: center;
}
.bodySelect{
    width: 30px;
    height:30px;
}
#submitBtn{
 right:30px;
 bottom: 45%;
position: absolute;
}

input[type=submit] { 
    background: url(http://www.simpleimageresizer.com/_uploads/photos/88a97f46/dd-dice-png-6_30x30.png);
    border: 0;
    display: block;
    height: 30px;
    width: 30px;
    z-index: 100;
    outline: none;
}






.idkYet{
    background-color: black;
    width: 33.333%;
    height: 100%;
    position: absolute;
    margin-left: 33.333%;
    
}
.topDisplay{
    height:50%;
  
    position: absolute;
    width: 100%;
    background-color: black;

}
.bottomDisplay{
    
    height: 50%;
    bottom:0;
    position: absolute;
    width: 100%;
    background-color: black;

}
.fightConsole{
    
    width: 33.333%;
    height: 100%;
    position: absolute;
    margin-left: 66.666%;
}
.consoleField{
    padding-top: 3%;
    width:100%;
    height: 85%;
    background-color: black;
    position: absolute;
    bottom:0;
    overflow: scroll;
    overflow-x: hidden;
}
li{
    left: 30px;
}

    ul.b {
        list-style-position: inside;
    }

.style-5::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #A87C29;
}

.style-5::-webkit-scrollbar
{
	width: 10px;
	background-color: black;
}

.style-5::-webkit-scrollbar-thumb
{
	background-color: black;
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}


.playerField{
    padding-top: 3%;
    width:100%;
    height: 70%;
    background-color: black;
    position: absolute;
    bottom:0;
    overflow: scroll;
    overflow-x: hidden;
}

.enemyField{
    padding-top: 3%;
    width:100%;
    height: 70%;
    background-color: black;
    position: absolute;
    bottom:0;
    overflow: scroll;
    overflow-x: hidden;
}






.form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #f1f1f1;
     color: #666;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.headTarget:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 2px;
     top: 2px;
     content: url(../images/head1.png);
    
}
.bodyTarget:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 3px;
     top: 2px;
     content: url(../images/body1.png);
    
}
.legsTarget:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 2px;
     top: 2px;
     content: url(../images/legs1.png);
    
}
.form-radio:hover
{
     background-color: #f7f7f7;
}
.form-radio:checked
{
     background-color: #f1f1f1;
}
label
{
     font: 300 16px/1.7 'Open Sans', sans-serif;
     color: #666;
     cursor: pointer;
} 
