<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="assets/css/styleIndex.css" />
    <script src="assets/js/index.js"></script>
</head>
<body>

     <i class="fas fa-angle-double-right" id="skipper"> Skip</i>

    <div class="pic-wrapper">
        <figure class="pic-1"></figure>
        <figure class="pic-2"></figure>
        <figure class="pic-3"></figure>
        <figure class="pic-4"></figure>
        <figure class="pic-5"></figure>
      </div> 

      <audio id="my_audio" src="assets/sounds/deepVlad.mp3" loop="loop"></audio>
    
<footer class="footer-text">
    <p class="item-1">For many years, your family has fought to defend the realm and expand its borders... </p>

    <p class="item-2">The incessant warfare however, has not come without cost... Generation after generation of your kin have laid their heads to ensure the prosperity of your people</p>
    
    <p class="item-3">But blinded by their ambition for glory, your forefathers have neglected the Gods </p>
    
    <p class="item-4">Slighted by your indifference they have sent a curse on your people, the land lies fallow and refuses to bring forth harvest. </p>
    
    <p class="item-5">They demand a sacrifice to appease them, and call on you to go through a trial of combat.</p>
</footer>

</body>
</html>