<!DOCTYPE html>
<html>
 
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
     <link rel="stylesheet" type="text/css" media="screen" href="assets/css/welcome.css" />
    <script src="../public/assets/js/script.js"></script>
    <script src="assets/jquery/jquery.min.js"></script>
</head>
 
<body>


<h1>Warrior Quest</h1>
<h2>LeaderBoard</h2>
<div class="container">


   <div id="signupContainer" style="overflow-y:scroll">
   
    <ol>
        <li>Test</li>
        <li>Test2</li>
        <li>Nick</li>
        <li>George</li>
        <li>Shane</li>
        <li>Vlad</li>
        <li>Nick</li>
        <li>George</li>
        
    </ol>

    <btn class="btn playAgain">Play Again</btn>

    <btn class="btn logout">Logout</btn>
  
    
    <img src="assets/images/Sword1.png" id="sword">
    <img src="assets/images/Old-Paper-Texture-2.png" id="paper">
    <img src="assets/images/Sumerian.png" id="summerian">
    <img src="assets/images/manuscript.jpg" id="manuscript">
    <img src="assets/images/manuscript2.jpg" id="manuscript2">
    <img src="assets/images/herbs.png" id="herbs">
    <img src="assets/images/Goat-skull.png" id="skull">
    

</div>
    </div>



</body>
 
</html>