<!DOCTYPE html>
<html>
 
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
     <link rel="stylesheet" type="text/css" media="screen" href="assets/css/welcome.css" />
    <script src="../public/assets/js/app.js"></script>
</head>
 


<body>
<div class="container">
    <div class="selection">
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" /><br>
        <input class="btn" type="submit" value="Sign Up" />
    </form>
 </div>
 
 <img src="assets/images/Sword1.png" id="sword">
    <img src="assets/images/Old-Paper-Texture-2.png" id="paper">
    <img src="assets/images/Sumerian.png" id="summerian">
    <img src="assets/images/manuscript.jpg" id="manuscript">
    <img src="assets/images/manuscript2.jpg" id="manuscript2">
    <img src="assets/images/herbs.png" id="herbs">
    <img src="assets/images/Goat-skull.png" id="skull">
</div>
</body>
 
</html>