<!DOCTYPE html>
<html>
 
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
     <link rel="stylesheet" type="text/css" media="screen" href="assets/css/welcome.css" />
    <script src="../public/assets/js/app.js"></script>
</head>
 
<body>


<h1>Warrior Quest</h1>
<div class="container">


   <div id="signupContainer">
    <a href="/signup">Sign up</a>
    <br>
    <a href="/signin">Sign in</a>
    </div>
    <div class="selection">
        
    </div>
    
    <img src="assets/images/Sword1.png" id="sword">
    <img src="assets/images/Old-Paper-Texture-2.png" id="paper">
    <img src="assets/images/Sumerian.png" id="summerian">
    <img src="assets/images/manuscript.jpg" id="manuscript">
    <img src="assets/images/manuscript2.jpg" id="manuscript2">
    <img src="assets/images/herbs.png" id="herbs">
    <img src="assets/images/Goat-skull.png" id="skull">
    

</div>






</body>
 
</html>